AIDEFrontendMaster/GDC.PH.AIDE.CommCellServices/Service References/ServiceReference1/AIDEService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49627/AIDEService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" />
  <xs:element name="DashboardGetEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetEmployeeListResult" nillable="true" type="q1:ArrayOfDashboardEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetContactList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetContactListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetContactListResult" nillable="true" type="q2:ArrayOfDashboardContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetNonBillableHoursSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetNonBillableHoursSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetNonBillableHoursSummaryResult" nillable="true" type="q3:ArrayOfDashboardNonBillableHoursSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTeamAttendance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTeamAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetTeamAttendanceResult" nillable="true" type="q4:ArrayOfDashboardTeamAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetResourcePlanner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetResourcePlannerResult" nillable="true" type="q5:ArrayOfAttendanceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTaskSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTaskSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetTaskSummaryResult" nillable="true" type="q6:ArrayOfTaskSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTaskSummaryTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DashboardGetTaskSummaryTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="DashboardGetTaskSummaryTotalsResult" nillable="true" type="q7:ArrayOfDashboardTaskSummaryTotals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksDataByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekRangeID" type="xs:int" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksDataByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetTasksDataByEmpIDResult" nillable="true" type="q8:ArrayOfWeeklyReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingReportsByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="currentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingReportsByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetMissingReportsByEmpIDResult" nillable="true" type="q9:ArrayOfContactList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuditSched">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="auditSched" nillable="true" type="q10:AuditSched" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditSched">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditSchedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAuditSchedResult" nillable="true" type="q11:ArrayOfAuditSched" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuditSched">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="auditSched" nillable="true" type="q12:AuditSched" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkEmailbyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkEmailbyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetWorkEmailbyEmailResult" nillable="true" type="q13:SendCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetMailConfigResult" nillable="true" type="q14:MailConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuditDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="auditSched" nillable="true" type="q15:WorkplaceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="parmDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditDailyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAuditDailyResult" nillable="true" type="q16:ArrayOfWorkplaceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="questionGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAuditQuestionsResult" nillable="true" type="q17:ArrayOfWorkplaceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContributors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContributorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllContributorsResult" nillable="true" type="q18:ArrayOfContributors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msgID" type="xs:int" />
        <xs:element minOccurs="0" name="secID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetMessageResult" nillable="true" type="q19:ArrayOfMessageDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewSuccessRegisterByEmpIDResult" nillable="true" type="q20:ArrayOfSuccessRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewSuccessRegisterBySearchResult" nillable="true" type="q21:ArrayOfSuccessRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSuccessRegisterAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewSuccessRegisterAllResult" nillable="true" type="q22:ArrayOfSuccessRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewNicknameByDeptID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toDisplay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewNicknameByDeptIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewNicknameByDeptIDResult" nillable="true" type="q23:ArrayOfNickname" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSuccessRegisterByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="success" nillable="true" type="q24:SuccessRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSuccessRegisterBySuccessID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="successID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="SignOnResult" nillable="true" type="q25:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewContactListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selection" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewContactListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewContactListAllResult" nillable="true" type="q26:ArrayOfContactList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactListByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="contact" nillable="true" type="q27:ContactList" />
        <xs:element minOccurs="0" name="selection" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewContactByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="contact" nillable="true" type="q28:ContactList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewBirthdayListAllResult" nillable="true" type="q29:ArrayOfBirthdayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListByCurrentMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListByCurrentMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewBirthdayListByCurrentMonthResult" nillable="true" type="q30:ArrayOfBirthdayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListByCurrentDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewBirthdayListByCurrentDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewBirthdayListByCurrentDayResult" nillable="true" type="q31:ArrayOfBirthdayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllConcern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offsetVal" type="xs:int" />
        <xs:element minOccurs="0" name="nextVal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAllConcernResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="selectAllConcernResult" nillable="true" type="q32:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoConcern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="concern" nillable="true" type="q33:Concern" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedRefNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedRefNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetGeneratedRefNoResult" nillable="true" type="q34:Concern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchKeyWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offsetVal" type="xs:int" />
        <xs:element minOccurs="0" name="nextVal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetResultSearchResult" nillable="true" type="q35:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfACtion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ref_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfACtionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetListOfACtionResult" nillable="true" type="q36:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfACtionsReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ref_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfACtionsReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetListOfACtionsReferencesResult" nillable="true" type="q37:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAndDeleteSelectedAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="concern" nillable="true" type="q38:Concern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSelectedConcern">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="concern" nillable="true" type="q39:Concern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetweenSearchConcern">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offsetVal" type="xs:int" />
        <xs:element minOccurs="0" name="nextVal" type="xs:int" />
        <xs:element minOccurs="0" name="date1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="date2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetweenSearchConcernResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetBetweenSearchConcernResult" nillable="true" type="q40:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_keywordAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ref_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetSearchActionResult" nillable="true" type="q41:ArrayOfConcern" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetSkillsListResult" nillable="true" type="q42:ArrayOfSkills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="skills" nillable="true" type="q43:Skills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="skills" nillable="true" type="q44:Skills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="skills" nillable="true" type="q45:Skills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpSKills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpSKillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewEmpSKillsResult" nillable="true" type="q46:ArrayOfSkills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfLvlByEmpIDSkillIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="skillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfLvlByEmpIDSkillIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetProfLvlByEmpIDSkillIDsResult" nillable="true" type="q47:Skills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsProfByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsProfByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetSkillsProfByEmpIDResult" nillable="true" type="q48:ArrayOfSkills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsLastReviewByEmpIDSkillID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="skillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsLastReviewByEmpIDSkillIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetSkillsLastReviewByEmpIDSkillIDResult" nillable="true" type="q49:Skills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourcePlanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="resource" nillable="true" type="q50:ResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResourcePlanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="resource" nillable="true" type="q51:ResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpResourcePlanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewEmpResourcePlannerResult" nillable="true" type="q52:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResourcePlanner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetStatusResourcePlannerResult" nillable="true" type="q53:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcePlannerByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="deptID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcePlannerByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetResourcePlannerByEmpIDResult" nillable="true" type="q54:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpResourcePlanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllEmpResourcePlannerResult" nillable="true" type="q55:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpResourcePlannerByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpResourcePlannerByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllEmpResourcePlannerByStatusResult" nillable="true" type="q56:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatusResourcePlanner">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatusResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllStatusResourcePlannerResult" nillable="true" type="q57:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcePlanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="toBeDisplayed" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcePlannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetResourcePlannerResult" nillable="true" type="q58:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonBillableHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="display" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonBillableHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetNonBillableHoursResult" nillable="true" type="q59:ArrayOfResourcePlanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="announcements" nillable="true" type="q60:Announcements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q61:ArrayOfAnnouncements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="announcements" nillable="true" type="q62:Announcements" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="toDisplay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetLateResult" nillable="true" type="q63:ArrayOfLate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllSabaCoursesResult" nillable="true" type="q64:ArrayOfSabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="sabaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllSabaXrefResult" nillable="true" type="q65:ArrayOfSabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSabaCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="obj" nillable="true" type="q66:SabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSabaCoursesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSabaCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="obj" nillable="true" type="q67:SabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSabaCoursesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSabaXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="obj" nillable="true" type="q68:SabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSabaXrefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaCourseByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSabaCourseByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllSabaCourseByTitleResult" nillable="true" type="q69:ArrayOfSabaLearning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComcellMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="comcell" nillable="true" type="q70:Comcell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComcellMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComcellMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetComcellMeetingResult" nillable="true" type="q71:ArrayOfComcell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComcellMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="comcell" nillable="true" type="q72:Comcell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClockTimeByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClockTimeByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetClockTimeByEmployeeResult" nillable="true" type="q73:ComcellClock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComcellClock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="obj" nillable="true" type="q74:ComcellClock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComcellClockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWeeklyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="weeklyReport" nillable="true" type="q75:ArrayOfWeeklyReport" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="weeklyReportXref" nillable="true" type="q76:WeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeeklyReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="weeklyReport" nillable="true" type="q77:ArrayOfWeeklyReport" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="weeklyReportXref" nillable="true" type="q78:WeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWeekRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="weekRange" nillable="true" type="q79:WeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetWeekRangeResult" nillable="true" type="q80:ArrayOfWeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekRangeByMonthYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekRangeByMonthYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetWeekRangeByMonthYearResult" nillable="true" type="q81:ArrayOfWeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyReportsByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyReportsByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetWeeklyReportsByEmpIDResult" nillable="true" type="q82:ArrayOfWeekRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyReportsByWeekRangeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weekRangeID" type="xs:int" />
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeeklyReportsByWeekRangeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetWeeklyReportsByWeekRangeIDResult" nillable="true" type="q83:ArrayOfWeeklyReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="_Action" nillable="true" type="q84:Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionListByMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionListByMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetActionListByMessageResult" nillable="true" type="q85:ArrayOfAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetActionSummaryResult" nillable="true" type="q86:ArrayOfAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="_Action" nillable="true" type="q87:Action" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" type="xs:int" />
        <xs:element minOccurs="0" name="WeekOf" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetMyAttendanceResult" nillable="true" type="q88:MyAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Month" type="xs:int" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAttendanceSummaryResult" nillable="true" type="q89:ArrayOfAttendanceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="_Attendance" nillable="true" type="q90:AttendanceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttendance2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empid" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="attstatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="_Attendance" nillable="true" type="q91:AttendanceSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAttendanceTodayResult" nillable="true" type="q92:ArrayOfMyAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceTodayBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceTodayBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAttendanceTodayBySearchResult" nillable="true" type="q93:ArrayOfMyAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableHoursByMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableHoursByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetBillableHoursByMonthResult" nillable="true" type="q94:ArrayOfBillableHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableHoursByWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="weekID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableHoursByWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetBillableHoursByWeekResult" nillable="true" type="q95:ArrayOfBillableHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Emp_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetContactInformationResult" nillable="true" type="q96:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetContactListResult" nillable="true" type="q97:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="contact" nillable="true" type="q98:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetEmployeeListResult" nillable="true" type="q99:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknameByDeptID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknameByDeptIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetNicknameByDeptIDResult" nillable="true" type="q100:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetProfileInformationResult" nillable="true" type="q101:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListOfProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListOfProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllListOfProjectResult" nillable="true" type="q102:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetProjectListResult" nillable="true" type="q103:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="project" nillable="true" type="q104:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="Project" nillable="true" type="q105:AssignedProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetProjectByIDResult" nillable="true" type="q106:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewProjectResult" nillable="true" type="q107:ArrayOfViewProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="project" nillable="true" type="q108:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssignedProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assignProj" nillable="true" type="q109:ArrayOfAssignedProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectListofEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectListofEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewProjectListofEmployeeResult" nillable="true" type="q110:ArrayOfViewProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePerProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="projID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeePerProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetEmployeePerProjectResult" nillable="true" type="q111:ArrayOfNickname" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetStatusListResult" nillable="true" type="q112:ArrayOfStatusGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="task" nillable="true" type="q113:Tasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTasksByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTasksByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewTasksByEmployeeResult" nillable="true" type="q114:ArrayOfTasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTaskSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Current_Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="empId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTaskSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewTaskSummaryResult" nillable="true" type="q115:ArrayOfTaskSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTaskSummaryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Current_Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewTaskSummaryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="ViewTaskSummaryAllResult" nillable="true" type="q116:ArrayOfTaskSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="Task" nillable="true" type="q117:Tasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllTasksResult" nillable="true" type="q118:ArrayOfTasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetTasksByEmpIDResult" nillable="true" type="q119:ArrayOfTasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="task" nillable="true" type="q120:Commendations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommendationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetCommendationsResult" nillable="true" type="q121:ArrayOfCommendations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommendations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="task" nillable="true" type="q122:Commendations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommendationsBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommendationsBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetCommendationsBySearchResult" nillable="true" type="q123:ArrayOfCommendations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q124:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsByEmpIDResult" nillable="true" type="q125:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetMyAssetsResult" nillable="true" type="q126:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsBySearchResult" nillable="true" type="q127:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q128:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssetsInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q129:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryByEmpID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryByEmpIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsInventoryByEmpIDResult" nillable="true" type="q130:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryUnApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryUnApprovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsInventoryUnApprovedResult" nillable="true" type="q131:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsUnAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsUnAssignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsUnAssignedResult" nillable="true" type="q132:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllManagersResult" nillable="true" type="q133:ArrayOfNickname" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q134:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsInventoryApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q135:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsInventoryCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="assets" nillable="true" type="q136:Assets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsHistoryResult" nillable="true" type="q137:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsHistoryBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsHistoryBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsHistoryBySearchResult" nillable="true" type="q138:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssetsInventoryBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAllAssetsInventoryBySearchResult" nillable="true" type="q139:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAssetDescriptionResult" nillable="true" type="q140:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetManufacturer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetAssetManufacturerResult" nillable="true" type="q141:ArrayOfAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonLearntList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonLearntListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetLessonLearntListResult" nillable="true" type="q142:ArrayOfLessonLearnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonLearntByProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonLearntByProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="GetLessonLearntByProblemResult" nillable="true" type="q143:ArrayOfLessonLearnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLessonLearnt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="lessonLearnt" nillable="true" type="q144:LessonLearnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLessonLearntInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="lesson" nillable="true" type="q145:LessonLearnt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewSuccessRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" minOccurs="0" name="success" nillable="true" type="q146:SuccessRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPresent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objData" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>