AIDEFrontendMaster/GDC.PH.AIDE.CommCellServices/Service References/ServiceReference1/AIDEService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GDC.PH.AIDE.DCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49627/AIDEService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDashboardEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardEmployee" nillable="true" type="tns:DashboardEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardEmployee" nillable="true" type="tns:ArrayOfDashboardEmployee" />
  <xs:complexType name="DashboardEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardEmployee" nillable="true" type="tns:DashboardEmployee" />
  <xs:complexType name="ArrayOfDashboardContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardContact" nillable="true" type="tns:DashboardContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardContact" nillable="true" type="tns:ArrayOfDashboardContact" />
  <xs:complexType name="DashboardContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReviewed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAdd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSource2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Local" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardContact" nillable="true" type="tns:DashboardContact" />
  <xs:complexType name="ArrayOfDashboardNonBillableHoursSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardNonBillableHoursSummary" nillable="true" type="tns:DashboardNonBillableHoursSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardNonBillableHoursSummary" nillable="true" type="tns:ArrayOfDashboardNonBillableHoursSummary" />
  <xs:complexType name="DashboardNonBillableHoursSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSelected" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holiday" type="xs:int" />
      <xs:element minOccurs="0" name="IBP" type="xs:int" />
      <xs:element minOccurs="0" name="SL" type="xs:int" />
      <xs:element minOccurs="0" name="VL" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardNonBillableHoursSummary" nillable="true" type="tns:DashboardNonBillableHoursSummary" />
  <xs:complexType name="ArrayOfDashboardTeamAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardTeamAttendance" nillable="true" type="tns:DashboardTeamAttendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardTeamAttendance" nillable="true" type="tns:ArrayOfDashboardTeamAttendance" />
  <xs:complexType name="DashboardTeamAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="ThirdMonth" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardTeamAttendance" nillable="true" type="tns:DashboardTeamAttendance" />
  <xs:complexType name="ArrayOfAttendanceSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttendanceSummary" nillable="true" type="tns:AttendanceSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendanceSummary" nillable="true" type="tns:ArrayOfAttendanceSummary" />
  <xs:complexType name="AttendanceSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day1" type="xs:short" />
      <xs:element minOccurs="0" name="Day10" type="xs:short" />
      <xs:element minOccurs="0" name="Day11" type="xs:short" />
      <xs:element minOccurs="0" name="Day12" type="xs:short" />
      <xs:element minOccurs="0" name="Day13" type="xs:short" />
      <xs:element minOccurs="0" name="Day14" type="xs:short" />
      <xs:element minOccurs="0" name="Day15" type="xs:short" />
      <xs:element minOccurs="0" name="Day16" type="xs:short" />
      <xs:element minOccurs="0" name="Day17" type="xs:short" />
      <xs:element minOccurs="0" name="Day18" type="xs:short" />
      <xs:element minOccurs="0" name="Day19" type="xs:short" />
      <xs:element minOccurs="0" name="Day2" type="xs:short" />
      <xs:element minOccurs="0" name="Day20" type="xs:short" />
      <xs:element minOccurs="0" name="Day21" type="xs:short" />
      <xs:element minOccurs="0" name="Day22" type="xs:short" />
      <xs:element minOccurs="0" name="Day23" type="xs:short" />
      <xs:element minOccurs="0" name="Day24" type="xs:short" />
      <xs:element minOccurs="0" name="Day25" type="xs:short" />
      <xs:element minOccurs="0" name="Day26" type="xs:short" />
      <xs:element minOccurs="0" name="Day27" type="xs:short" />
      <xs:element minOccurs="0" name="Day28" type="xs:short" />
      <xs:element minOccurs="0" name="Day29" type="xs:short" />
      <xs:element minOccurs="0" name="Day3" type="xs:short" />
      <xs:element minOccurs="0" name="Day30" type="xs:short" />
      <xs:element minOccurs="0" name="Day31" type="xs:short" />
      <xs:element minOccurs="0" name="Day4" type="xs:short" />
      <xs:element minOccurs="0" name="Day5" type="xs:short" />
      <xs:element minOccurs="0" name="Day6" type="xs:short" />
      <xs:element minOccurs="0" name="Day7" type="xs:short" />
      <xs:element minOccurs="0" name="Day8" type="xs:short" />
      <xs:element minOccurs="0" name="Day9" type="xs:short" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Month" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Year" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttendanceSummary" nillable="true" type="tns:AttendanceSummary" />
  <xs:complexType name="ArrayOfTaskSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskSummary" nillable="true" type="tns:TaskSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskSummary" nillable="true" type="tns:ArrayOfTaskSummary" />
  <xs:complexType name="TaskSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="FridayAT" type="xs:int" />
      <xs:element minOccurs="0" name="FridayCT" type="xs:int" />
      <xs:element minOccurs="0" name="FridayOT" type="xs:int" />
      <xs:element minOccurs="0" name="InitialDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MondayAT" type="xs:int" />
      <xs:element minOccurs="0" name="MondayCT" type="xs:int" />
      <xs:element minOccurs="0" name="MondayOT" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingTaskLastWeek" type="xs:int" />
      <xs:element minOccurs="0" name="ThursdayAT" type="xs:int" />
      <xs:element minOccurs="0" name="ThursdayCT" type="xs:int" />
      <xs:element minOccurs="0" name="ThursdayOT" type="xs:int" />
      <xs:element minOccurs="0" name="TuesdayAT" type="xs:int" />
      <xs:element minOccurs="0" name="TuesdayCT" type="xs:int" />
      <xs:element minOccurs="0" name="TuesdayOT" type="xs:int" />
      <xs:element minOccurs="0" name="WednesdayAT" type="xs:int" />
      <xs:element minOccurs="0" name="WednesdayCT" type="xs:int" />
      <xs:element minOccurs="0" name="WednesdayOT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskSummary" nillable="true" type="tns:TaskSummary" />
  <xs:complexType name="ArrayOfDashboardTaskSummaryTotals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DashboardTaskSummaryTotals" nillable="true" type="tns:DashboardTaskSummaryTotals" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboardTaskSummaryTotals" nillable="true" type="tns:ArrayOfDashboardTaskSummaryTotals" />
  <xs:complexType name="DashboardTaskSummaryTotals">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedTaskCount" type="xs:int" />
      <xs:element minOccurs="0" name="CompletedTaskCount" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingTaskCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardTaskSummaryTotals" nillable="true" type="tns:DashboardTaskSummaryTotals" />
  <xs:complexType name="ArrayOfWeeklyReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeeklyReport" nillable="true" type="tns:WeeklyReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeeklyReport" nillable="true" type="tns:ArrayOfWeeklyReport" />
  <xs:complexType name="WeeklyReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualEffort" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualEffortWk" type="xs:decimal" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFinished" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTarget" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffortEst" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="InboundContacts" type="xs:short" />
      <xs:element minOccurs="0" name="IncidentType" type="xs:short" />
      <xs:element minOccurs="0" name="Phase" type="xs:short" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rework" type="xs:short" />
      <xs:element minOccurs="0" name="Severity" type="xs:short" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeekID" type="xs:int" />
      <xs:element minOccurs="0" name="WeekRangeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeeklyReport" nillable="true" type="tns:WeeklyReport" />
  <xs:complexType name="ArrayOfContactList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactList" nillable="true" type="tns:ContactList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactList" nillable="true" type="tns:ArrayOfContactList" />
  <xs:complexType name="ContactList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" type="xs:int" />
      <xs:element minOccurs="0" name="APPROVED" type="xs:int" />
      <xs:element minOccurs="0" name="BIRTHDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CELL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTMENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DIVISION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIVISION_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DT_HIRED" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMADDRESS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOUSEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsREVIEWED" type="xs:boolean" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MARITAL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARITAL_STATUS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIDDLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nick_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OLD_EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="OTHERPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_GROUP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="POSITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSITION_ID" type="xs:int" />
      <xs:element minOccurs="0" name="SHIFT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lOCAL" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactList" nillable="true" type="tns:ContactList" />
  <xs:complexType name="AuditSched">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUDIT_SCHED_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DAILY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FY_END" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FY_START" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FY_WEEK" type="xs:int" />
      <xs:element minOccurs="0" name="MONTHLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERIOD_END" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PERIOD_START" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WEEKLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditSched" nillable="true" type="tns:AuditSched" />
  <xs:complexType name="ArrayOfAuditSched">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditSched" nillable="true" type="tns:AuditSched" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditSched" nillable="true" type="tns:ArrayOfAuditSched" />
  <xs:complexType name="SendCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Work_Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendCode" nillable="true" type="tns:SendCode" />
  <xs:complexType name="MailConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableSSL" type="xs:int" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordExpiry" type="xs:int" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SenderEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timeout" type="xs:int" />
      <xs:element minOccurs="0" name="UseDfltCredentials" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailConfig" nillable="true" type="tns:MailConfig" />
  <xs:complexType name="WorkplaceAudit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUDIT_DAILY_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AUDIT_QUESTIONS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDIT_QUESTIONS_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDIT_QUESTIONS_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DT_CHECKED" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FY_WEEK" type="xs:int" />
      <xs:element minOccurs="0" name="OWNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkplaceAudit" nillable="true" type="tns:WorkplaceAudit" />
  <xs:complexType name="ArrayOfWorkplaceAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkplaceAudit" nillable="true" type="tns:WorkplaceAudit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkplaceAudit" nillable="true" type="tns:ArrayOfWorkplaceAudit" />
  <xs:complexType name="ArrayOfContributors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contributors" nillable="true" type="tns:Contributors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContributors" nillable="true" type="tns:ArrayOfContributors" />
  <xs:complexType name="Contributors">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEPARTMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIVISION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSITION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contributors" nillable="true" type="tns:Contributors" />
  <xs:complexType name="ArrayOfMessageDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageDetail" nillable="true" type="tns:MessageDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageDetail" nillable="true" type="tns:ArrayOfMessageDetail" />
  <xs:complexType name="MessageDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="MESSAGE_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDetail" nillable="true" type="tns:MessageDetail" />
  <xs:complexType name="ArrayOfLocationList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationList" nillable="true" type="tns:LocationList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationList" nillable="true" type="tns:ArrayOfLocationList" />
  <xs:complexType name="LocationList">
    <xs:sequence>
      <xs:element minOccurs="0" name="LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ONSITE_FLG" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationList" nillable="true" type="tns:LocationList" />
  <xs:complexType name="ArrayOfPositionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionList" nillable="true" type="tns:PositionList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionList" nillable="true" type="tns:ArrayOfPositionList" />
  <xs:complexType name="PositionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="POS_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POS_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionList" nillable="true" type="tns:PositionList" />
  <xs:complexType name="ArrayOfPermissionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionList" nillable="true" type="tns:PermissionList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionList" nillable="true" type="tns:ArrayOfPermissionList" />
  <xs:complexType name="PermissionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="GRP_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRP_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionList" nillable="true" type="tns:PermissionList" />
  <xs:complexType name="ArrayOfDepartmentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentList" nillable="true" type="tns:DepartmentList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentList" nillable="true" type="tns:ArrayOfDepartmentList" />
  <xs:complexType name="DepartmentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEPT_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentList" nillable="true" type="tns:DepartmentList" />
  <xs:complexType name="ArrayOfDivisionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisionList" nillable="true" type="tns:DivisionList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisionList" nillable="true" type="tns:ArrayOfDivisionList" />
  <xs:complexType name="DivisionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DIV_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIV_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionList" nillable="true" type="tns:DivisionList" />
  <xs:complexType name="ArrayOfStatusList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusList" nillable="true" type="tns:StatusList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusList" nillable="true" type="tns:ArrayOfStatusList" />
  <xs:complexType name="StatusList">
    <xs:sequence>
      <xs:element minOccurs="0" name="STATUS_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusList" nillable="true" type="tns:StatusList" />
  <xs:complexType name="KPITargets">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FYEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FYStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KPI_Id" type="xs:int" />
      <xs:element minOccurs="0" name="KPI_ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPITargets" nillable="true" type="tns:KPITargets" />
  <xs:complexType name="ArrayOfKPITargets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KPITargets" nillable="true" type="tns:KPITargets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKPITargets" nillable="true" type="tns:ArrayOfKPITargets" />
  <xs:complexType name="KPISummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FYEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FYStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KPIActual" type="xs:double" />
      <xs:element minOccurs="0" name="KPIOverall" type="xs:double" />
      <xs:element minOccurs="0" name="KPITarget" type="xs:double" />
      <xs:element minOccurs="0" name="KPI_Id" type="xs:int" />
      <xs:element minOccurs="0" name="KPI_Month" type="xs:short" />
      <xs:element minOccurs="0" name="KPI_Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KPISummary" nillable="true" type="tns:KPISummary" />
  <xs:complexType name="ArrayOfKPISummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KPISummary" nillable="true" type="tns:KPISummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKPISummary" nillable="true" type="tns:ArrayOfKPISummary" />
  <xs:complexType name="ArrayOfSuccessRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuccessRegister" nillable="true" type="tns:SuccessRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuccessRegister" nillable="true" type="tns:ArrayOfSuccessRegister" />
  <xs:complexType name="SuccessRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateInput" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DetailsOfSuccess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nick_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessID" type="xs:int" />
      <xs:element minOccurs="0" name="WhosInvolve" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuccessRegister" nillable="true" type="tns:SuccessRegister" />
  <xs:complexType name="ArrayOfNickname">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nickname" nillable="true" type="tns:Nickname" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNickname" nillable="true" type="tns:ArrayOfNickname" />
  <xs:complexType name="Nickname">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emp_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Employee_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nick_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nickname" nillable="true" type="tns:Nickname" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cel_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CivilStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHired" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept_ID" type="xs:short" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dt_Reviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emp_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Local" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" type="ser:char" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ws_EMP_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfBirthdayList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BirthdayList" nillable="true" type="tns:BirthdayList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBirthdayList" nillable="true" type="tns:ArrayOfBirthdayList" />
  <xs:complexType name="BirthdayList">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIRTHDAY" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BirthdayList" nillable="true" type="tns:BirthdayList" />
  <xs:complexType name="ArrayOfConcern">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Concern" nillable="true" type="tns:Concern" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConcern" nillable="true" type="tns:ArrayOfConcern" />
  <xs:complexType name="Concern">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION_REFERENCES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTREF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACT_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Act_Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Concerns" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterMeasure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATE2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Due_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATEDREF_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Concern" nillable="true" type="tns:Concern" />
  <xs:complexType name="ArrayOfSkills">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skills" nillable="true" type="tns:Skills" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkills" nillable="true" type="tns:ArrayOfSkills" />
  <xs:complexType name="Skills">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Reviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prof_LVL" type="xs:int" />
      <xs:element minOccurs="0" name="SkillID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skills" nillable="true" type="tns:Skills" />
  <xs:complexType name="ResourcePlanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateEntry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="HalfBalance" type="xs:double" />
      <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:double" />
      <xs:element minOccurs="0" name="TotalBalance" type="xs:double" />
      <xs:element minOccurs="0" name="UsedLeaves" type="xs:double" />
      <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="holidayHours" type="xs:double" />
      <xs:element minOccurs="0" name="slHours" type="xs:double" />
      <xs:element minOccurs="0" name="vlHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourcePlanner" nillable="true" type="tns:ResourcePlanner" />
  <xs:complexType name="ArrayOfResourcePlanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourcePlanner" nillable="true" type="tns:ResourcePlanner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourcePlanner" nillable="true" type="tns:ArrayOfResourcePlanner" />
  <xs:complexType name="Announcements">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANNOUNCEMENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="END_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Announcements" nillable="true" type="tns:Announcements" />
  <xs:complexType name="ArrayOfAnnouncements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Announcements" nillable="true" type="tns:Announcements" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnouncements" nillable="true" type="tns:ArrayOfAnnouncements" />
  <xs:complexType name="ArrayOfLate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Late" nillable="true" type="tns:Late" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLate" nillable="true" type="tns:ArrayOfLate" />
  <xs:complexType name="Late">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMBER_OF_LATE" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Late" nillable="true" type="tns:Late" />
  <xs:complexType name="ArrayOfSabaLearning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SabaLearning" nillable="true" type="tns:SabaLearning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSabaLearning" nillable="true" type="tns:ArrayOfSabaLearning" />
  <xs:complexType name="SabaLearning">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATE_COMPLETED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="END_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IMAGE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SABA_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SabaLearning" nillable="true" type="tns:SabaLearning" />
  <xs:complexType name="Comcell">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMCELL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FACILITATOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FACILITATOR_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FY_END" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FY_START" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MINUTES_TAKER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINUTES_TAKER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCHEDULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comcell" nillable="true" type="tns:Comcell" />
  <xs:complexType name="ArrayOfComcell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comcell" nillable="true" type="tns:Comcell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComcell" nillable="true" type="tns:ArrayOfComcell" />
  <xs:complexType name="ComcellClock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clock_Day" type="xs:int" />
      <xs:element minOccurs="0" name="Clock_Hour" type="xs:int" />
      <xs:element minOccurs="0" name="Clock_Minute" type="xs:int" />
      <xs:element minOccurs="0" name="Emp_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MIDDAY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComcellClock" nillable="true" type="tns:ComcellClock" />
  <xs:complexType name="WeekRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndWeek" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartWeek" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="WeekRangeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeekRange" nillable="true" type="tns:WeekRange" />
  <xs:complexType name="ArrayOfWeekRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeekRange" nillable="true" type="tns:WeekRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeekRange" nillable="true" type="tns:ArrayOfWeekRange" />
  <xs:complexType name="Action">
    <xs:sequence>
      <xs:element minOccurs="0" name="Act_Assignee" type="xs:int" />
      <xs:element minOccurs="0" name="Act_DateClosed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Act_DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Act_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Act_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Act_NickName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Action" nillable="true" type="tns:Action" />
  <xs:complexType name="ArrayOfAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Action" nillable="true" type="tns:Action" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAction" nillable="true" type="tns:ArrayOfAction" />
  <xs:complexType name="MyAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEntry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FridayVal" type="xs:short" />
      <xs:element minOccurs="0" name="Image_Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MondayVal" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="ThursdayVal" type="xs:short" />
      <xs:element minOccurs="0" name="TuesdayVal" type="xs:short" />
      <xs:element minOccurs="0" name="WednesdayVal" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAttendance" nillable="true" type="tns:MyAttendance" />
  <xs:complexType name="ArrayOfMyAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyAttendance" nillable="true" type="tns:MyAttendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyAttendance" nillable="true" type="tns:ArrayOfMyAttendance" />
  <xs:complexType name="ArrayOfBillableHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillableHours" nillable="true" type="tns:BillableHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillableHours" nillable="true" type="tns:ArrayOfBillableHours" />
  <xs:complexType name="BillableHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Hours" type="xs:decimal" />
      <xs:element minOccurs="0" name="Month" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="Year" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillableHours" nillable="true" type="tns:BillableHours" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Local" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CellNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHired" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReviewed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" type="xs:short" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Local" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" type="ser:char" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Billability" type="xs:short" />
      <xs:element minOccurs="0" name="Category" type="xs:int" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="AssignedProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndPeriod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="StartPeriod" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssignedProject" nillable="true" type="tns:AssignedProject" />
  <xs:complexType name="ArrayOfViewProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewProject" nillable="true" type="tns:ViewProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewProject" nillable="true" type="tns:ArrayOfViewProject" />
  <xs:complexType name="ViewProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Month1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Month2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Month3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewProject" nillable="true" type="tns:ViewProject" />
  <xs:complexType name="ArrayOfAssignedProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssignedProject" nillable="true" type="tns:AssignedProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssignedProject" nillable="true" type="tns:ArrayOfAssignedProject" />
  <xs:complexType name="ArrayOfStatusGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusGroup" nillable="true" type="tns:StatusGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusGroup" nillable="true" type="tns:ArrayOfStatusGroup" />
  <xs:complexType name="StatusGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="StatusID" type="xs:short" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusGroup" nillable="true" type="tns:StatusGroup" />
  <xs:complexType name="Tasks">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualEffort" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualEffortWk" type="xs:decimal" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffortEst" type="xs:decimal" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentDescr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentType" type="xs:short" />
      <xs:element minOccurs="0" name="Others1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Others2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Others3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phase" type="xs:short" />
      <xs:element minOccurs="0" name="ProjectCode" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rework" type="xs:short" />
      <xs:element minOccurs="0" name="Severity" type="xs:short" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="TargetDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tasks" nillable="true" type="tns:Tasks" />
  <xs:complexType name="ArrayOfTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tasks" nillable="true" type="tns:Tasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTasks" nillable="true" type="tns:ArrayOfTasks" />
  <xs:complexType name="Commendations">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMMEND_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DATE_SENT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMPLOYEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PROJECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SENT_BY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commendations" nillable="true" type="tns:Commendations" />
  <xs:complexType name="ArrayOfCommendations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commendations" nillable="true" type="tns:Commendations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommendations" nillable="true" type="tns:ArrayOfCommendations" />
  <xs:complexType name="Assets">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVAL" type="xs:int" />
      <xs:element minOccurs="0" name="ASSET_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSET_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ASSET_TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSIGNED_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE_ASSIGNED" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATE_PURCHASED" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEPARTMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FULL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANUFACTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTHER_INFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS_DESCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Assets" nillable="true" type="tns:Assets" />
  <xs:complexType name="ArrayOfAssets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Assets" nillable="true" type="tns:Assets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssets" nillable="true" type="tns:ArrayOfAssets" />
  <xs:complexType name="ArrayOfLessonLearnt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LessonLearnt" nillable="true" type="tns:LessonLearnt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLessonLearnt" nillable="true" type="tns:ArrayOfLessonLearnt" />
  <xs:complexType name="LessonLearnt">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Problem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonLearnt" nillable="true" type="tns:LessonLearnt" />
</xs:schema>